<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--配置目标类-->
    <bean id="userDao" class="com.aop_after_returning_xml.UserDaoImpl"></bean>


    <!--定义一个切面bean-->
    <bean id="myAspect" class="com.aop_after_returning_xml.MyAspect"></bean>
    <aop:config>

        <!--配置全局切入点-->
        <!--<aop:pointcut id="" expression=""></aop:pointcut>-->

        <!--配置切面-->
        <aop:aspect id="aspect" ref="myAspect">

            <!--配置当前切面的切入点-->
            <!--        第一个*:返回类型任意 (注意空格),第二个*:aop包下的任意类,第三个*:当前类下的任意方法,(..):任意参数         -->
            <aop:pointcut id="myPointCut" expression="execution(* com.aop_after_returning_xml.*.*(..))"></aop:pointcut>
            <!--后置通知 :目标方法成功执行之后才执行-->
            <aop:after-returning method="myAfterRetuxrning" pointcut-ref="myPointCut" ></aop:after-returning>
        </aop:aspect>

    </aop:config>
</beans>